@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Общие стили */

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  background-color: rgba(242, 242, 242, 1);
}

.page-container {
  max-width: 1200px;
  margin: 0 auto                          ;
  background-color: rgba(255, 255, 255, 1);
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-colored {
  display: block;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.button-light {
  width: 48px;
  height: 48px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  background-color: transparent;
}

.btn-brown {
  background-color: rgba(117, 97, 87, 1);
  min-height: 36px;
}

.btn-blue {
  background: rgba(130, 179, 211, 1);
  border: none;
}

.btn-success {
  background-color: rgba(125, 181, 79, 1);
  border: none;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.text {
  margin: 0 auto;
  max-width: 800px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

/* header */

.header {
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-item-link {
  padding: 20px 16px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.header-links {
  margin-left: auto;
}

.header-link.btn-brown {
  width: 160px;
  font-size: 16px;
}

.header-link {
  text-decoration: none;
}

/* hero */

.hero {
  padding: 82px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/decorative/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* about */

.about {
  padding-top: 69px;
}

.about-title {
  max-width: 625px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.about-text {
  margin-bottom: 70px;
}


.advantages {
  display: flex;
  flex-wrap: wrap;
}

.advantage-item {
  padding: 102px 85px;
  max-width: 400px;
  text-align: center;
  background-color:rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item-img {
  max-width: 100%;
  display: flex;
  padding: 0;
  color: rgba(255, 255, 255, 1);
}

.advantage-container {
  padding: 102px 85px;
  max-width: 400px;
  background-color: #82B3D3;
}

.advantage-subtitle {
  margin-bottom: 62px;
}

.advetage-text {
  font-size: 18px;
  line-height: 21px;
}


/* invite */

.invite {
  padding-top: 64px;
}

.invite-title {
  max-width: 510px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.invite-text {
  margin-bottom: 64px;
}

.advices-list {
  display: flex;
  flex-wrap: wrap;
}

.advices-item {
  max-width: 400px;
  padding: 183px 85px 81px 85px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}

.advices-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* .advices-item-house::before {
}

.advices-item-food {

}

.advices-item-gift {

} */

.advices-subtitle {
  margin-bottom: 30px;
}

/* search */

.search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  text-align: center;
  margin-bottom: 20px;
}

.search-text {
  max-width: 592px;
  margin-bottom: 54px;
}

.search-btn {
  max-width: 376px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

/* subscribe */

.subscribe {
  padding: 96px 256px 104px 256px;
  margin-bottom: 45px;
}

.subscribe-bg {
  background-image: url("../images/decorative/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-bg .subscribe-title,
.subscribe-bg .subscribe-text {
  color: rgba(255, 255, 255, 1);
}

.subscribe-title {
  margin-bottom: 20px;
  max-width: 480;
}

.subscribe-text {
  margin-bottom: 54px;
  max-width: 480px;
}

.subscribe-form {
  display: flex;
  width: 100%;
}

.subscribe-input {
  width: 100%;
  height: 52px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px 12px 20px;
}

.subscribe-btn {
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: rgba(130, 179, 211, 1);
}

/* footer */

.footer {
  min-height: 120px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
}

.social-link {
  display: block;
  width: 48px;
  height: 40px;
}

.link-tel {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.link-author {
  display: block;
  width: 115px;
  height: 33px;
}


/* catalog */

.filter {
  padding: 70px;
  padding-top: 35px;
  color: rgba(255, 255, 255, 1);
  background-image: url("../images/decorative/filter-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.inner-filter-title {
  margin-bottom: 5px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.filter-form {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.catalog-filter-group legend {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.control-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}

.control-label:not(:last-child) {
  margin-bottom: 16px;
}

.limits-container {
  display: flex;
  margin-bottom: 36px;
}

.limit {
  max-width: 143px;
  height: 48px;
  padding: 12px 20px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: rgba(242, 242, 242, 1);
}

.limits-container .input-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.limit-input-min {
  border-radius: 4px 0 0 4px;
}

.limit-input-max {
  border-radius: 0 4px 4px 0;
}

.scroll {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}

.controls {
  align-self: flex-end;
}

.controls .button-colored {
  padding: 8px 50px;
}

.catalog-app-btn {
  margin-bottom: 32px;
  border: none;

}

.catalog-cancel-btn {
  background-color: transparent;
  border: none;
}

/* catalog-products  */

.catalog-products {
  padding: 57px 70px;
}

.catalog-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-text {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  min-width: 292px;
  padding: 14px 20px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.select-control option {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(230, 230, 230, 1);
}

.card {
  max-width: 340px;
  padding: 20px;
  border-radius: 4px;
  border: 2px solid rgba(229, 229, 229, 1);
}

.card-title-link {
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.card-link-all {
  width: 140px;
  text-decoration: none;
}

.raiting {
  width: 40px;
  height: 20px;
  background-image: url("../images/decorative/star.svg");
  background-repeat: space;
}

.four-stars {
  width: 80px;
}

.three-stars {
  width: 60px;
}

.card-rating {
  width: 140px;
  padding: 8px 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: rgba(242, 242, 242, 1);
}

.pagination {
  display: flex;
  gap: 8px;
  padding-top: 40px;
  padding-bottom: 60px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item.button-colored {
  background-color: rgba(130, 179, 211, 1);
}

.pagination-item.pagination-current {
  background-color: rgba(242, 242, 242, 1);
}

.pagination-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.pagination-current .pagination-link {
  color: rgba(0, 0, 0, 1);
}

.input-gray {
  background-color: rgba(242, 242, 242, 1);
}
